
@{
    ViewBag.Title = "FormaPago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h2>Mantenimiento de forga de pago</h2>

<form method="post" action="@Url.Action("FormaPago","FormaPago")">

    <div class="panel panel-primary">
        <div class="panel-heading">

            <label>FormaPago&nbsp;</label>
            <input type="text" id="idFormaPago" name="idFormaPago" placeholder="Buscar por ID forma de pag..." style="color:black" />
            <button type="submit" style="color:black" class="btn btn-default">Buscar</button>
            <button onclick="location.href = '@Url.Action("newFormaPago", "FormaPago")'; return false;" class="btn btn-success">&nbsp;Nuevo</button>
        </div>
        <table class="table-responsive" border="1" style="color:black">
            <thead>
                <tr>
                    <td style="width: 120px; text-align: center;""><b>Id forma de pago </b></td>
                    <td style="width: 120px; text-align: center;""><b>Descripcion </b></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                @if (Model.Tables.Count > 0)
                {
                    if (Model.Tables[0].Rows.Count > 0)
                    {
                        for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                        {
                            <tr align="center">
                                <td class="active">@Model.Tables[0].Rows[x]["idFormaPago"].ToString()</td>
                                <td class="active">@Model.Tables[0].Rows[x]["descripcion"].ToString()</td>
                                <td> <button type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("ActualizarFormaPago","FormaPago", new { idFormaPago = Model.Tables[0].Rows[x]["idFormaPago"].ToString() })'; return false;">Actualizar</button> </td>
                                <td> <button type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("eliminar","formaPago", new {idFormaPago = Model.Tables[0].Rows[x]["idFormaPago"].ToString() })'; return false;">Eliminar</button> </td>
                            </tr>

                        }
                    }
                }
            </tbody>
        </table>
    </div>

</form>

